* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html {
  scroll-behavior: smooth;
}

body {
  margin: 0;
  padding: 0;
  background: #f1f1f1;
  text-align: center;
  width: 100svw;
  height: 100svh;
}

body::-webkit-scrollbar {
  display: none;
}

ul {
  display: flex;
  flex-direction: column;
}

li {
  list-style: none;
}

li + li {
  margin-top: 24px;
}
.points-scrollWrap .scrollCanvas,
.scrollCanvas {
  position: fixed;
  top: 0;
  left: 0;
}

.scrollContent {
  position: absolute;
  width: 100vw;
  height: 200vh;
  z-index: 100;
  justify-content: center;
  text-align: center;
  font-size: 2rem;
  margin-top: 100px;
  color: #fff;
}

.points-scrollWrap section,
.scrollWrap section {
  min-height: 100vh;
  padding: 20px;
  font-size: 1.5rem;
}

.points-scrollWrap .scrollContent {
  position: absolute;
  width: 100vw;
  height: 200vh;
  z-index: 100;
  justify-content: center;
  text-align: center;
  color: #161616;
  margin-top: 60vh;
}
